@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  .h-screen-small{
    height:100vh;
    height: 100svh;
  }
  .h-screen-large{
    height:100vh;
    height: 100lvh;
  }
  .h-screen-dynamic{
    height:100vh;
    height: 100dvh;
  }
}